body {
  font-family: Arial;
}

.container {
  display: grid;
  /* Define el tamaño de las columnas */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  height: 100vh;
}

.item {
  background-color: lightblue;
  padding: 10px;
  border: 1px solid red;
}

/* Seleccionamos el número del elemento que se va a modificar */

.item:nth-of-type(1) {
  background: lightpink;
  /* Esta propiedad cuenta las lineas verticales */
  grid-column-start: 1;
  grid-column-end: 3;
}

.item:nth-of-type(7) {
  background: lightyellow;
  /* Esta propiedad cuenta las lineas verticales */
  /* grid-column: 2 / 4; */
  /* grid-column: 2 / span 2; */
  /* con el -1 ocupa todas las columnas restantes */
  grid-column: 2 / -1;
}

.item:nth-of-type(8) {
  background: lightgray;
  /* Esta propiedad cuenta las lineas verticales */
  grid-column: 2 / 4;
}
